<footer class="text-center text-lg-start">
    <p>&copy; 2022 Built by <%= link_to "Rixio Barrios", "https://www.rixiobarrios.com" %><%= image_tag('k_logo.png', :size => "200x110") %>  All Rights Reserved.</p>
</footer>
